<div>
  <link href="./footer.css" rel="stylesheet" />
  <div class="footer-footer">
    <footer class="footer-container">
      <img
        alt="image"
        src="public/playground_assets/traqstarz%20%5B3%5D-200h.png"
        class="footer-image"
      />
      <div class="footer-container1">
        <a href="about.html" class="footer-navlink"><span>About</span></a>
        <a href="features.html" class="footer-navlink1">
          <span>Features</span>
        </a>
        <a href="jobs.html" class="footer-navlink2"><span>Jobs</span></a>
        <a href="legal.html" class="footer-navlink3"><span>Legal</span></a>
      </div>
      <div class="footer-divider"></div>
      <div class="footer-container2">
        <span class="footer-text body2">
          <span>© 2022 Traqstarz. All rights reserved</span>
        </span>
      </div>
    </footer>
  </div>
</div>
