<div>
  <link href="./header-container.css" rel="stylesheet" />
  <div data-role="Header" class="header-container-header-container">
    <header class="header-container-header">
      <div class="header-container-logo">
        <a href="index.html" class="header-container-navlink">
          <img
            alt="image"
            src="public/playground_assets/traqstarz%20%5B3%5D-200h.png"
            class="header-container-image"
          />
        </a>
      </div>
      <div class="header-container-menu">
        <a href="about.html" class="header-container-navlink1">
          <span>About</span>
        </a>
        <a href="features.html" class="header-container-navlink2">
          <span>Features</span>
        </a>
        <a href="jobs.html" class="header-container-navlink3">
          <span>Jobs</span>
        </a>
        <img
          alt="image"
          src="public/playground_assets/google-play-badge-200h.png"
          class="header-container-image1"
        />
      </div>
    </header>
  </div>
</div>
